extends ./layout

block content
  .jumbotron
    .container
      h1 #{abbreviation} Division Details Page
      if loggedIn
        p 
          a.btn(href='#', role='button') Manage Additions »
      else
        p
          a.btn(href='#', role='button') Login »

  .form(action='search.js')
    input(type='text', name='Search', placeholder='Search')
    br
    input(type='submit', value='Submit')

  .container.col3
    each league in leagues
      panel.dropdown(class="home_panel")
        h3= league.abbreviation
          p 
            a.btn(href='/league/id/#{league.id}') #{league.name}

 .col-md-9
        h3 Edit League

        form(action='/leagues/update/#{league.id}', method='post')
          div.form-group
            input(class='enter-text', type='text', name='name', value='#{league.name}')
          div.form-group
            input(class='enter-text', type='text', name='abbreviation', value='#{league.abbreviation}')
          div.form-group
            input(type='submit', value='Submit' )


  .col-md-9
    h3 #{divnam} Division


    each team in division
      .container
      .list-group.col-md-4
        .list-group-item.list-group-item-info= team.name
        dl(class="dl-horizontal")
          .list-group-item
          dt City
          dd= team.city 
          .list-group-item
          dt Head Coach
          dd= team.head_coach
          .list-group-item
          dt Mascot
          dd=team.mascot
          
