extends ./layout

block content
  .jumbotron
    h1 Teams Page
    .container

  form(action='search.js')
    input(type='text', name='Search', placeholder='Search')
    br
    input(type='submit', value='Submit')

  .container.col3
    each team in teams
      .panel.dropdown(class="home_panel")
        h3= team.name
          p 
            a.btn(href='/teams/id/#{team.id}') #{team.name}

  .container
    each team in teams
      div
        dl(class="dl-horizontal")
          dt Name
          dd= team.name

          dt City
          dd= team.city

          dt Head Coach
          dd= team.head_coach

          dt Mascot
          dd= team.mascot

          dt Division
          dd= team.division_id
          
          dt Abbreviation
          dd= team.abbreviation
